<form action='/characters' method="post">
    Name:<br>
    <input type="text" name="name"><br>
    Mode:<br>
    <input type="checkbox" id="regular" name="mode" value="Regular">
    <label for="regular">Regular</label><br>
    <input type="checkbox" id="ironman" name="mode" value="Ironman">
    <label for="ironman">Ironman</label><br>
    <input type="checkbox" id="hardcore_ironman" name="mode" value="Hardcore Ironman">
    <label for="hardcore_ironman">Hardcore Ironman</label><br>

    Level:<br>
    <input type="text" id="level" name="level">

    <br><br>

    <input type="submit" value="Create Character">

</form>