
<br><br><br>

<h2>Character:</h2>
<h3>Name</h3>
<%= @character.name %>
<h3>Mode</h3>
<%= @character.mode %>
<h3>Level</h3>
<%= @character.level %>

<br><br><br>

<form method="get" action="/characters/<%=@character.id%>/edit">
  <input type="submit" value="Edit">
</form>

<br><br><br>