<head>
  <h1>Welcome to the OSRS Hiscoces Board</h1>
</head>

<body>
    <br><br>
    <p>This is a board dedicated to discussions in the Old School RuneScape community*.<br>
    You can find topics covering each of the games activities, minigames, bosses
    and skills!</p>

    <br><br>

    <p>You must have an account to participate:</p>

    <a href="/signup">Signup</a>
    <br>
    <a href="/login">Login</a>


    <br><br><br><br><br><br>
    <p>*This is not an official Jagex website.</p>

</body>
</html>