<head>
  <h1>Welcome to the Old School RuneScape Board</a></h1>
</head>

<body>
    <br><br>
    <p>Keep track of all your OSRS characters!</p>

    <br><br>

    <form method="get" action="/signup">
    <input type="submit" value="Signup">
    </form>
    <br>
    <form method="get" action="/login">
    <input type="submit" value="Login">
    </form>


    <br><br><br><br><br><br>

</body>
</html>